// ==========================================================================
// FONT SIZES

$fs-small: 10pt;
$fs-default: 14pt;


// ==========================================================================

%font_normal_bold {
    font-family: 'UniversNextPro', Helvetica, sans-serif;
    font-weight: 600;
}

%font_normal_standard {
    font-family: 'UniversNextPro', Helvetica, sans-serif;
    font-weight: 300;
}

%font_normal_light {
    font-family: 'UniversNextPro', Helvetica, sans-serif;
    font-weight: 100;
}

// ==========================================================================


// NORMAL
@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-UltLt.eot');
    src: url('../fonts/UniversNextPro-UltLt.woff2') format('woff2'),
        url('../fonts/UniversNextPro-UltLt.woff') format('woff'),
        url('../fonts/UniversNextPro-UltLt.ttf') format('truetype'),
        url('../fonts/UniversNextPro-UltLt.eot?#iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-UltLtIt.eot');
    src: url('../fonts/UniversNextPro-UltLtIt.woff2') format('woff2'),
        url('../fonts/UniversNextPro-UltLtIt.woff') format('woff'),
        url('../fonts/UniversNextPro-UltLtIt.ttf') format('truetype'),
        url('../fonts/UniversNextPro-UltLtIt.eot?#iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Thin.eot');
    src: url('../fonts/UniversNextPro-Thin.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Thin.woff') format('woff'),
        url('../fonts/UniversNextPro-Thin.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-ThinItalic.eot');
    src: url('../fonts/UniversNextPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-ThinItalic.woff') format('woff'),
        url('../fonts/UniversNextPro-ThinItalic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-ThinItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Light.eot');
    src: url('../fonts/UniversNextPro-Light.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Light.woff') format('woff'),
        url('../fonts/UniversNextPro-Light.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-LightItalic.eot');
    src: url('../fonts/UniversNextPro-LightItalic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-LightItalic.woff') format('woff'),
        url('../fonts/UniversNextPro-LightItalic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Regular.eot');
    src: url('../fonts/UniversNextPro-Regular.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Regular.woff') format('woff'),
        url('../fonts/UniversNextPro-Regular.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal; //400
    font-style: normal;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Italic.eot');
    src: url('../fonts/UniversNextPro-Italic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Italic.woff') format('woff'),
        url('../fonts/UniversNextPro-Italic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal; //400
    font-style: italic;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Medium.eot');
    src: url('../fonts/UniversNextPro-Medium.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Medium.woff') format('woff'),
        url('../fonts/UniversNextPro-Medium.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-MediumItalic.eot');
    src: url('../fonts/UniversNextPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-MediumItalic.woff') format('woff'),
        url('../fonts/UniversNextPro-MediumItalic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-MediumItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-Bold.eot');
    src: url('../fonts/UniversNextPro-Bold.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Bold.woff') format('woff'),
        url('../fonts/UniversNextPro-Bold.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'UniversNextPro';
    src: url('../fonts/UniversNextPro-BoldItalic.eot');
    src: url('../fonts/UniversNextPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-BoldItalic.woff') format('woff'),
        url('../fonts/UniversNextPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 600;
    font-style: italic;
}


// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-Heavy.eot');
//     src: url('../fonts/UniversNextPro-Heavy.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-Heavy.woff') format('woff'),
//         url('../fonts/UniversNextPro-Heavy.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-Heavy.eot?#iefix') format('embedded-opentype');
//     font-weight: 700; //BOLD
//     font-style: normal;
// }
// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-HeavyItalic.eot');
//     src: url('../fonts/UniversNextPro-HeavyItalic.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-HeavyItalic.woff') format('woff'),
//         url('../fonts/UniversNextPro-HeavyItalic.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-HeavyItalic.eot?#iefix') format('embedded-opentype');
//     font-weight: 700; //BOLD
//     font-style: italic;
// }

// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-Black.eot');
//     src: url('../fonts/UniversNextPro-Black.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-Black.woff') format('woff'),
//         url('../fonts/UniversNextPro-Black.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-Black.eot?#iefix') format('embedded-opentype');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-BlackItalic.eot');
//     src: url('../fonts/UniversNextPro-BlackItalic.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-BlackItalic.woff') format('woff'),
//         url('../fonts/UniversNextPro-BlackItalic.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-BlackItalic.eot?#iefix') format('embedded-opentype');
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-XBlack.eot');
//     src: url('../fonts/UniversNextPro-XBlack.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-XBlack.woff') format('woff'),
//         url('../fonts/UniversNextPro-XBlack.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-XBlack.eot?#iefix') format('embedded-opentype');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'UniversNextPro';
//     src: url('../fonts/UniversNextPro-XBlackIt.eot');
//     src: url('../fonts/UniversNextPro-XBlackIt.woff2') format('woff2'),
//         url('../fonts/UniversNextPro-XBlackIt.woff') format('woff'),
//         url('../fonts/UniversNextPro-XBlackIt.ttf') format('truetype'),
//         url('../fonts/UniversNextPro-XBlackIt.eot?#iefix') format('embedded-opentype');
//     font-weight: 900;
//     font-style: italic;
// }
