// ==========================================================================
// COLOR
$color_blue: blue;

// ==========================================================================
// TRANSITION
$global-transition: .25s;
$load-transition: .8s;

// ==========================================================================
// COMMON VAR

$global-padding: 40px;
$global-padding-m: 25px;

$global-maxwidth: 1240px;


// ==========================================================================
// REPONSIVE SIZES

// WIDTH
$break-smaller: 450px; // MOBILE
$break-small: 750px; // MOBILE
$break-medium: 1024px; // TABLET
$break-large: 1240px; // DESKTOP M

// HEIGHT
$height-break: 350px;
